*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(53, 59, 64)   ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__img{
    width: 120px;
    border-radius: 100%;
}
.header__title{
    color:#4ab886;
    font-size: 1.8em;
}
.header__subtitle{
    color:#4ab886;
    font-size: 0.9em;
}
.list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.list__item{
    width: 250px;
    height: 30px;
}
.list__link{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 100%;
    height: 100%;
    background-color: #4ab886;
}
.social{
    display: flex;
    gap:10px;
}